@media only screen and (max-width: 600px) {
  #wecanhelpyoubuildyourproject {
    background-color: rgb(241, 128, 46);
    height: 430px;
    width: 100%;
    padding: 30px;
  }
  #wecanhelpyoubuildyourproject-subcontainer {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wecanhelpyoucreateyourproject-header {
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .tellusaboutyourproject-header {
    text-align: center;
    color: white;
  }
  #contactus-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(221, 221, 11);
    border: none;
    padding: 10px;
    text-decoration: none;
  }
}

@media only screen and (min-width: 601px) {
  #wecanhelpyoubuildyourproject {
    background-color: rgb(241, 128, 46);
    height: 430px;
    width: 100%;
    padding: 30px;
  }
  #wecanhelpyoubuildyourproject-subcontainer {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wecanhelpyoucreateyourproject-header {
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .tellusaboutyourproject-header {
    text-align: center;
    color: white;
  }
  #contactus-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(221, 221, 11);
    border: none;
    padding: 10px;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  #wecanhelpyoubuildyourproject {
    background-color: rgb(241, 128, 46);
    height: 430px;
    width: 100%;
    padding: 30px;
  }
  #wecanhelpyoubuildyourproject-subcontainer {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wecanhelpyoucreateyourproject-header {
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .tellusaboutyourproject-header {
    text-align: center;
    color: white;
  }
  #contactus-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(221, 221, 11);
    border: none;
    padding: 10px;
    text-decoration: none;
  }
}

@media only screen and (min-width: 992px) {
  #wecanhelpyoubuildyourproject {
    background-color: rgb(241, 128, 46);
    height: 430px;
    width: 100%;
    padding: 30px;
  }
  #wecanhelpyoubuildyourproject-subcontainer {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wecanhelpyoucreateyourproject-header {
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .tellusaboutyourproject-header {
    text-align: center;
    color: white;
  }
  #contactus-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(221, 221, 11);
    border: none;
    padding: 10px;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1200px) {
  #wecanhelpyoubuildyourproject {
    background-color: rgb(241, 128, 46);
    height: 430px;
    width: 100%;
    padding: 30px;
  }
  #wecanhelpyoubuildyourproject-subcontainer {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wecanhelpyoucreateyourproject-header {
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .tellusaboutyourproject-header {
    text-align: center;
    color: white;
  }
  #contactus-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(221, 221, 11);
    border: none;
    padding: 10px;
    text-decoration: none;
  }
}
